In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [14]:
df = pd.DataFrame({'avg_ratings':[4.10, 4.70, 4.87,3.89,4.23,2.32,1.88,4.32,4.52,4.46]})

In [17]:
scaler = MinMaxScaler((1,10))
df['min_max_norm_rating'] = scaler.fit_transform(df[['avg_ratings']])

In [18]:
df

   avg_ratings  min_max_norm_rating
0         4.10             7.682274
1         4.70             9.488294
2         4.87            10.000000
3         3.89             7.050167
4         4.23             8.073579
5         2.32             2.324415
6         1.88             1.000000
7         4.32             8.344482
8         4.52             8.946488
9         4.46             8.765886

In [34]:
df2 = pd.DataFrame({'avg_ratings':[1.9, 4.1, 4.70, 4.99]})

In [35]:
scaler = MinMaxScaler((1,10))
df2['min_max_norm_rating'] = scaler.fit_transform(df2[['avg_ratings']])

In [47]:
df2['mean_norm_ratings'] = 1  + (df2['avg_ratings'] - df2['avg_ratings'].mean()) / (df2['avg_ratings'].max() - df2['avg_ratings'].min()) * 9

In [48]:
df2

   avg_ratings  min_max_norm_rating  mean_norm_ratings
0         1.90             1.000000          -4.890777
1         4.10             7.407767           1.516990
2         4.70             9.155340           3.264563
3         4.99            10.000000           4.109223