In [4]:
# Start writing code here...
#import pandas as pd
#df = pd.read_csv('Best Books of the Decade_ 2000s _6922 books_.csv')
def scrapper(filepath):
    data = open(filepath,'r')
    return data
scrapper('Best Books of the Decade_ 2000s _6922 books_.csv')

In [1]:
import pandas as pd

In [104]:
df = pd.read_csv("Best_Books_of_the_Decade__2000s__6922_books_.csv")

In [105]:
df.head()

,Number,Title_URL,Title,Author,minirating
0,1,https://www.goodreads.com/book/show/136251.Har...,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,"4.62 avg rating — 2,883,079 ratings"
1,2,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,531,961 ratings"
2,3,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,"4.57 avg rating — 2,506,015 ratings"
3,4,https://www.goodreads.com/book/show/6.Harry_Po...,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,"4.56 avg rating — 2,671,368 ratings"
4,5,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,580,928 ratings"

In [106]:
df['avg_rating'] = df['minirating'].apply(lambda x: (x.split('— ')[0]))
df['avg_rating'] = df['avg_rating'].apply(lambda x: x.replace(' avg rating','')) 
df['avg_rating'] = df['avg_rating'].apply(lambda x: x.replace(' ',''))

In [107]:
df.head()

,Number,Title_URL,Title,Author,minirating,avg_rating
0,1,https://www.goodreads.com/book/show/136251.Har...,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,"4.62 avg rating — 2,883,079 ratings",4.62
1,2,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,531,961 ratings",4.33
2,3,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,"4.57 avg rating — 2,506,015 ratings",4.57
3,4,https://www.goodreads.com/book/show/6.Harry_Po...,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,"4.56 avg rating — 2,671,368 ratings",4.56
4,5,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,580,928 ratings",4.50

In [108]:
df['num_ratings'] = df['minirating'].apply(lambda x: (x.split('— ')[1]))
df['num_ratings'] = df['num_ratings'].apply(lambda x: x.replace(' ratings',''))
df.head(2)

,Number,Title_URL,Title,Author,minirating,avg_rating,num_ratings
0,1,https://www.goodreads.com/book/show/136251.Har...,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,"4.62 avg rating — 2,883,079 ratings",4.62,"2,883,079"
1,2,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,531,961 ratings",4.33,"6,531,961"

In [ ]:
df.replace([np.inf, -np.inf], np.nan).dropna(axis=1)

In [109]:
df.dtypes

Number          int64
Title_URL      object
Title          object
Author         object
minirating     object
avg_rating     object
num_ratings    object
dtype: object

In [110]:
df.avg_rating = pd.to_numeric(df.avg_rating, errors="coerce")

In [111]:
df.dtypes

Number           int64
Title_URL       object
Title           object
Author          object
minirating      object
avg_rating     float64
num_ratings     object
dtype: object

In [112]:
df.num_ratings = pd.to_numeric(df.num_ratings, errors="coerce")

In [113]:
df.dtypes

Number           int64
Title_URL       object
Title           object
Author          object
minirating      object
avg_rating     float64
num_ratings    float64
dtype: object

In [116]:
df = df.fillna(0)
df['num_ratings'] = df['num_ratings'].astype(int)
df['avg_rating'] = df['avg_rating'].astype(int)

# Testing .py file

In [129]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
def read_csv(file_path):
    df = pd.read_csv(file_path)
    return df

def data_clean(df):
    ## sparse minirating column to get avg_rating and num_ratings
    df['avg_rating'] = df['minirating'].apply(lambda x: (x.split('— ')[0]))
    df['avg_rating'] = df['avg_rating'].apply(lambda x: x.replace(' avg rating', ''))
    df['avg_rating'] = df['avg_rating'].apply(lambda x: x.replace(' ', ''))

    df['num_ratings'] = df['minirating'].apply(lambda x: (x.split('— ')[1]))
    df['num_ratings'] = df['num_ratings'].apply(lambda x: x.replace(' ratings', ''))

    return df

def preprocessing(df):
    
    df.avg_rating = pd.to_numeric(df.avg_rating, errors="coerce")
    df.num_ratings = pd.to_numeric(df.num_ratings, errors="coerce")
    df = df.dropna()
    df['num_ratings'] = df['num_ratings'].astype(int)
    df['avg_rating'] = df['avg_rating'].astype(int)
    
    scaler = MinMaxScaler((1, 10))
    df['minmax_norm_rating'] = scaler.fit_transform(df[['avg_ratings']])
    df['mean_norm_ratings'] = 1 + (df['avg_ratings'] - df['avg_ratings'].mean()) / (df['avg_ratings'].max() - df['avg_ratings'].min()) * 9
    
    return df

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
def read_csv(file_path):
    df = pd.read_csv(file_path)
    return df

In [132]:
df=read_csv('Best_Books_of_the_Decade__2000s__6922_books_.csv')

In [133]:
df

,Number,Title_URL,Title,Author,minirating
0,1,https://www.goodreads.com/book/show/136251.Har...,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,"4.62 avg rating — 2,883,079 ratings"
1,2,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,531,961 ratings"
2,3,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,"4.57 avg rating — 2,506,015 ratings"
3,4,https://www.goodreads.com/book/show/6.Harry_Po...,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,"4.56 avg rating — 2,671,368 ratings"
4,5,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,580,928 ratings"
...,...,...,...,...,...
5094,5075,https://www.goodreads.com/book/show/6386555-ea...,Eating the Dinosaur,Chuck Klosterman,"3.76 avg rating — 14,909 ratings"
5095,5075,https://www.goodreads.com/book/show/2319979.Th...,"The Elephant's Tale (Animal Healer, #4)",Lauren St. John,4.25 avg rating — 832 ratings
5096,5075,https://www.goodreads.com/book/show/13196.Quiver,Quiver,Stephanie Spinner,3.51 avg rating — 927 ratings
5097,5075,https://www.goodreads.com/book/show/39692.Good...,Good Poems,Garrison Keillor,"4.18 avg rating — 6,399 ratings"
5098,5075,https://www.goodreads.com/book/show/48092.The_...,"The Sinister Pig (Leaphorn & Chee, #16)",Tony Hillerman,"3.88 avg rating — 5,946 ratings"

In [134]:
def data_clean(df):
    ## sparse minirating column to get avg_rating and num_ratings
    df['avg_rating'] = df['minirating'].apply(lambda x: (x.split('— ')[0]))
    df['avg_rating'] = df['avg_rating'].apply(lambda x: x.replace(' avg rating', ''))
    df['avg_rating'] = df['avg_rating'].apply(lambda x: x.replace(' ', ''))

    df['num_ratings'] = df['minirating'].apply(lambda x: (x.split('— ')[1]))
    df['num_ratings'] = df['num_ratings'].apply(lambda x: x.replace(' ratings', ''))
    df.drop('minirating', axis=1, inplace =True)
    return df

In [135]:
clean_df = data_clean(df)

In [137]:
clean_df

,Number,Title_URL,Title,Author,avg_rating,num_ratings
0,1,https://www.goodreads.com/book/show/136251.Har...,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,4.62,"2,883,079"
1,2,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.33,"6,531,961"
2,3,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.57,"2,506,015"
3,4,https://www.goodreads.com/book/show/6.Harry_Po...,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,4.56,"2,671,368"
4,5,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,"2,580,928"
...,...,...,...,...,...,...
5094,5075,https://www.goodreads.com/book/show/6386555-ea...,Eating the Dinosaur,Chuck Klosterman,3.76,"14,909"
5095,5075,https://www.goodreads.com/book/show/2319979.Th...,"The Elephant's Tale (Animal Healer, #4)",Lauren St. John,4.25,832
5096,5075,https://www.goodreads.com/book/show/13196.Quiver,Quiver,Stephanie Spinner,3.51,927
5097,5075,https://www.goodreads.com/book/show/39692.Good...,Good Poems,Garrison Keillor,4.18,"6,399"
5098,5075,https://www.goodreads.com/book/show/48092.The_...,"The Sinister Pig (Leaphorn & Chee, #16)",Tony Hillerman,3.88,"5,946"

In [140]:
clean_df.columns

Index(['Number', 'Title_URL', 'Title', 'Author', 'avg_rating', 'num_ratings'], dtype='object')

In [143]:
def preprocessing(df):
    df.rename(columns = {'test':'TEST'}, inplace = True)
    df.avg_rating = pd.to_numeric(df.avg_rating, errors="coerce")
    df.num_ratings = pd.to_numeric(df.num_ratings, errors="coerce")
    df = df.fillna(0)
    df['num_ratings'] = df['num_ratings'].astype(int)
    df['avg_rating'] = df['avg_rating'].astype(int)
    
    scaler = MinMaxScaler((1, 10))
    df['minmax_norm_rating'] = scaler.fit_transform(df[['avg_rating']])
    df['mean_norm_ratings'] = 1 + (df['avg_rating'] - df['avg_rating'].mean()) / (df['avg_rating'].max() - df['avg_rating'].min()) * 9
    
    return df

In [145]:
processed_df = preprocessing(clean_df)

In [147]:
processed_df

,Number,Title_URL,Title,Author,avg_rating,num_ratings,minmax_norm_rating,mean_norm_ratings
0,1,https://www.goodreads.com/book/show/136251.Har...,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,4,0,10.00,2.480437
1,2,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4,0,10.00,2.480437
2,3,https://www.goodreads.com/book/show/1.Harry_Po...,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4,0,10.00,2.480437
3,4,https://www.goodreads.com/book/show/6.Harry_Po...,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,4,0,10.00,2.480437
4,5,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4,0,10.00,2.480437
...,...,...,...,...,...,...,...,...
5094,5075,https://www.goodreads.com/book/show/6386555-ea...,Eating the Dinosaur,Chuck Klosterman,3,0,7.75,0.230437
5095,5075,https://www.goodreads.com/book/show/2319979.Th...,"The Elephant's Tale (Animal Healer, #4)",Lauren St. John,4,832,10.00,2.480437
5096,5075,https://www.goodreads.com/book/show/13196.Quiver,Quiver,Stephanie Spinner,3,927,7.75,0.230437
5097,5075,https://www.goodreads.com/book/show/39692.Good...,Good Poems,Garrison Keillor,4,0,10.00,2.480437
5098,5075,https://www.goodreads.com/book/show/48092.The_...,"The Sinister Pig (Leaphorn & Chee, #16)",Tony Hillerman,3,0,7.75,0.230437